version: '3.8'

services:
  # MongoDB for Product Service
  mongo:
    image: mongo:latest
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  # MySQL for Order Service
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    ports:
      - "3310:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: order_service
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mongo_data:
  mysql_data: